body {
	max-width: 1280px;
	max-height: 1024px;
	width: 100%;
	height: 100%;
	text-align: center;
	margin: auto;
	background-image: url(../img/background-big.jpg);
	background-size: 100vw 100vh;
}

/*header style*/
header {
	color: gold;
	margin: 0;
}

#site-header {
	margin-bottom: 5px;
}

#welcome {
	margin-top: 10px;
}

#container {
	width: 80%;
	margin: auto;
}

button {
	margin: 10px;
	width: 8em;
	height: 3em;
	border-radius: 20px;
	border: 1px solid gold;
}

button:hover {
	cursor: pointer;
	-moz-transform: scale(1.1,1.1);
	-webkit-transform: scale(1.1,1.1);
	transform: scale(1.1,1.1);
}

/*performance gauge*/
#grid-perf {
	max-width: 700px;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	color: gold;
}

#stars, #moves, #timer {
	width: 33%;
	margin: auto;
}

img {
	width: 30px;
	height: 30px;
	float: left;
}

time {
	float: right;
	font-size: 1.5em;
}

.performance-container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.stars, .time-counter, .moves-counter {
	width: 33%;
	margin: auto;
}

.time-counter {
	text-align: right;
}

/*grid*/
table {
	background-color: rgba(246,218,153,0.4);
	text-align: center;
	margin: 0 auto;
	padding: 15px;
	border-spacing: 15px;
	border-radius: 20px;
}

td {
	width: 150px;
	height: 150px;
	border: 1px solid black;
	border-radius: 10px;
	margin: 20px;
	background-color: rgb(239,197,235);
	background-size: cover;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
	cursor: pointer;
}

/*finished game pop-up*/
.pop-up {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 15%;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

.pop-up-content {
	background-color: rgb(254,254,254);
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	border-radius: 20px;
	width: 60%;
	-moz-animation: scale 0.5s;
	-webkit-animation: scale 0.5s;
	animation: scale 0.5s;
}

@-moz-keyframes scale {
	0% {
		transform: scale(0,0);
	}
	100% {
		transform: scale(1,1);
	}
}

@-webkit-keyframes scale {
	0% {
		transform: scale(0,0);
	}
	100% {
		transform: scale(1,1);
	}
}

@keyframes scale {
	0% {
		transform: scale(0,0);
	}
	100% {
		transform: scale(1,1);
	}
}

/*Instructions pop-up*/
.i-pop-up {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 15%;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

.i-pop-up-content {
	background-color: rgb(254,254,254);
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
	border-radius: 20px;
	width: 60%;
	-moz-animation: scale 0.5s;
	-webkit-animation: scale 0.5s;
	animation: scale 0.5s;
}


/*cards unturn*/
.one {
	background-image: url(../img/angry-big.png);
	-moz-transform: rotateY(-180deg);
	-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
	-moz-animation: unturn 0.4s;
	-webkit-animation: unturn 0.4s;
	animation: unturn 0.4s;
	animation-fill-mode: forwards;
	-webkit-transition: transform 0.4s ease;
	-moz-transition: transform 0.4s ease;
	transition: transform 0.4s ease;
}

.two {
	background-image: url(../img/in-love-big.png);
	-moz-transform: rotateY(-180deg);
	-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
	-moz-animation: unturn 0.4s;
	-webkit-animation: unturn 0.4s;
	animation: unturn 0.4s;
	animation-fill-mode: forwards;
	-webkit-transition: transform 0.4s ease;
	-moz-transition: transform 0.4s ease;
	transition: transform 0.4s ease;
}

.three {
	background-image: url(../img/sad-big.png);
	-moz-transform: rotateY(-180deg);
	-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
	-moz-animation: unturn 0.4s;
	-webkit-animation: unturn 0.4s;
	animation: unturn 0.4s;
	animation-fill-mode: forwards;
	-webkit-transition: transform 0.4s ease;
	-moz-transition: transform 0.4s ease;
	transition: transform 0.4s ease;
}

.four {
	background-image: url(../img/smiley-face-big.png);
	-moz-transform: rotateY(-180deg);
	-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
	-moz-animation: unturn 0.4s;
	-webkit-animation: unturn 0.4s;
	animation: unturn 0.4s;
	animation-fill-mode: forwards;
	-webkit-transition: transform 0.4s ease;
	-moz-transition: transform 0.4s ease;
	transition: transform 0.4s ease;
}

.five {
	background-image: url(../img/smiley-tongue-big.png);
	-moz-transform: rotateY(-180deg);
	-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
	-moz-animation: unturn 0.4s;
	-webkit-animation: unturn 0.4s;
	animation: unturn 0.4s;
	animation-fill-mode: forwards;
	-webkit-transition: transform 0.4s ease;
	-moz-transition: transform 0.4s ease;
	transition: transform 0.4s ease;
}

.six {
	background-image: url(../img/straight-face-big.png);
	-moz-transform: rotateY(-180deg);
	-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
	-moz-animation: unturn 0.4s;
	-webkit-animation: unturn 0.4s;
	animation: unturn 0.4s;
	animation-fill-mode: forwards;
	-webkit-transition: transform 0.4s ease;
	-moz-transition: transform 0.4s ease;
	transition: transform 0.4s ease;
}

.seven {
	background-image: url(../img/sun-glases-big.png);
	-moz-transform: rotateY(-180deg);
	-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
	-moz-animation: unturn 0.4s;
	-webkit-animation: unturn 0.4s;
	animation: unturn 0.4s;
	animation-fill-mode: forwards;
	-webkit-transition: transform 0.4s ease;
	-moz-transition: transform 0.4s ease;
	transition: transform 0.4s ease;
}

.eight {
	background-image: url(../img/winking-big.png);
	-moz-transform: rotateY(-180deg);
	-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
	-moz-animation: unturn 0.4s;
	-webkit-animation: unturn 0.4s;
	animation: unturn 0.4s;
	animation-fill-mode: forwards;
	-webkit-transition: transform 0.4s ease;
	-moz-transition: transform 0.4s ease;
	transition: transform 0.4s ease;
}

/*cards turned*/
.one-turn {
	
	background-image: url(../img/angry-big.png);
	-moz-transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
	-moz-animation: turn 0.4s;
	-webkit-animation: turn 0.4s;
	animation: turn 0.4s;
	-webkit-transition: transform 0.4s ease;
	-moz-transition: transform 0.4s ease;
	transition: transform 0.4s ease;
}

.two-turn {
	background-image: url(../img/in-love-big.png);
	-moz-transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
	-moz-animation: turn 0.4s;
	-webkit-animation: turn 0.4s;
	animation: turn 0.4s;
	-webkit-transition: transform 0.4s ease;
	-moz-transition: transform 0.4s ease;
	transition: transform 0.4s ease;
}

.three-turn {
	background-image: url(../img/sad-big.png);
	-moz-transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
	-moz-animation: turn 0.4s;
	-webkit-animation: turn 0.4s;
	animation: turn 0.4s;
	-webkit-transition: transform 0.4s ease;
	-moz-transition: transform 0.4s ease;
	transition: transform 0.4s ease;
}

.four-turn {
	background-image: url(../img/smiley-face-big.png);
	-moz-transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
	-moz-animation: turn 0.4s;
	-webkit-animation: turn 0.4s;
	animation: turn 0.4s;
	-webkit-transition: transform 0.4s ease;
	-moz-transition: transform 0.4s ease;
	transition: transform 0.4s ease;
}

.five-turn {
	background-image: url(../img/smiley-tongue-big.png);
	-moz-transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
	-moz-animation: turn 0.4s;
	-webkit-animation: turn 0.4s;
	animation: turn 0.4s;
	-webkit-transition: transform 0.4s ease;
	-moz-transition: transform 0.4s ease;
	transition: transform 0.4s ease;
}

.six-turn {
	background-image: url(../img/straight-face-big.png);
	-moz-transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
	-moz-animation: turn 0.4s;
	-webkit-animation: turn 0.4s;
	animation: turn 0.4s;
	-webkit-transition: transform 0.4s ease;
	-moz-transition: transform 0.4s ease;
	transition: transform 0.4s ease;
}

.seven-turn {
	background-image: url(../img/sun-glases-big.png);
	-moz-transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
	-moz-animation: turn 0.4s;
	-webkit-animation: turn 0.4s;
	animation: turn 0.4s;
	-webkit-transition: transform 0.4s ease;
	-moz-transition: transform 0.4s ease;
	transition: transform 0.4s ease;
}

.eight-turn {
	background-image: url(../img/winking-big.png);
	-moz-transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
	-moz-animation: turn 0.4s;
	-webkit-animation: turn 0.4s;
	animation: turn 0.4s;
	-webkit-transition: transform 0.4s ease;
	-moz-transition: transform 0.4s ease;
	transition: transform 0.4s ease;
}

/*card turning and unturning3animations*/
@-moz-keyframes unturn {
30% {
		background-image;
	}

	100% {
		background-image: none;
	}
}

@-webkit-keyframes unturn {
30% {
		background-image;
	}

	100% {
		background-image: none;
	}
}

@keyframes unturn {
30% {
		background-image;
	}

	100% {
		background-image: none;
	}
}

@-moz-keyframes turn {
	0% {
		background-image: none;
	}

	100% {
		background-image;
	}
}

@-webkit-keyframes turn {
	0% {
		background-image: none;
	}

	100% {
		background-image;
	}
}

@keyframes turn {
	0% {
		background-image: none;
	}

	100% {
		background-image;
	}
}

/*matched cards*/
.matched {
	-moz-animation: matched 0.3s 1;
	-webkit-animation: matched 0.3s 1;
	animation: matched 0.3s 1;
	animation-delay: 0.3s;
	animation-fill-mode: forwards;
}

@-moz-keyframes matched {
	0% {
		background-color: blue;
	}

	50% {
		-moz-transform: skewX(30deg);
		-webkit-transform: skewX(30deg);
		transform: skewX(30deg);
		-moz-transform: scale(0.9,0.9);
		-webkit-transform: scale(0.9,0.9);
		transform: scale(0.9,0.9);
	}

	100% {
		-moz-transform: scale(1,1);
		-webkit-transform: scale(1,1);
		transform: scale(1,1);
		background-color: green;
	}
}

@-webkit-keyframes matched {
	0% {
		background-color: blue;
	}

	50% {
		-moz-transform: skewX(30deg);
		-webkit-transform: skewX(30deg);
		transform: skewX(30deg);
		-moz-transform: scale(0.9,0.9);
		-webkit-transform: scale(0.9,0.9);
		transform: scale(0.9,0.9);
	}

	100% {
		-moz-transform: scale(1,1);
		-webkit-transform: scale(1,1);
		transform: scale(1,1);
		background-color: green;
	}
}

@keyframes matched {
	0% {
		background-color: blue;
	}

	50% {
		-moz-transform: skewX(30deg);
		-webkit-transform: skewX(30deg);
		transform: skewX(30deg);
		-moz-transform: scale(0.9,0.9);
		-webkit-transform: scale(0.9,0.9);
		transform: scale(0.9,0.9);
	}

	100% {
		-moz-transform: scale(1,1);
		-webkit-transform: scale(1,1);
		transform: scale(1,1);
		background-color: green;
	}
}

/*unmatched cards*/
.unmatched {
	-moz-animation: unmatch 0.3s 1;
	-webkit-animation: unmatch 0.3s 1;
	animation: unmatch 0.3s 1;
}

@-moz-keyframes unmatch {
	0%{
		background-color: red;
		-moz-transform: skewX(10deg);
		-webkit-transform: skewX(10deg);
		transform: skewX(10deg);
	}
	25% {
		-moz-transform: skewX(-10deg);
		-webkit-transform: skewX(-10deg);
		transform: skewX(-10deg);
		background-color: red;
	}
	50% {
		-moz-transform: skewX(10deg);
		-webkit-transform: skewX(10deg);
		transform: skewX(10deg);
		background-color: red;
	}
	75% {
		-moz-transform: skewX(-10deg);
		-webkit-transform: skewX(-10deg);
		transform: skewX(-10deg);
		background-color: red;
	}
	100% {
		-moz-transform: skewX(0deg);
		-webkit-transform: skewX(0deg);
		transform: skewX(0deg);		
		background-color: red;
	}	
}

@-webkit-keyframes unmatch {
	0%{
		background-color: red;
		-moz-transform: skewX(10deg);
		-webkit-transform: skewX(10deg);
		transform: skewX(10deg);
	}
	25% {
		-moz-transform: skewX(-10deg);
		-webkit-transform: skewX(-10deg);
		transform: skewX(-10deg);
		background-color: red;
	}
	50% {
		-moz-transform: skewX(10deg);
		-webkit-transform: skewX(10deg);
		transform: skewX(10deg);
		background-color: red;
	}
	75% {
		-moz-transform: skewX(-10deg);
		-webkit-transform: skewX(-10deg);
		transform: skewX(-10deg);
		background-color: red;
	}
	100% {
		-moz-transform: skewX(0deg);
		-webkit-transform: skewX(0deg);
		transform: skewX(0deg);		
		background-color: red;
	}	
}

@keyframes unmatch {
	0%{
		background-color: red;
		-moz-transform: skewX(10deg);
		-webkit-transform: skewX(10deg);
		transform: skewX(10deg);
	}
	25% {
		-moz-transform: skewX(-10deg);
		-webkit-transform: skewX(-10deg);
		transform: skewX(-10deg);
		background-color: red;
	}
	50% {
		-moz-transform: skewX(10deg);
		-webkit-transform: skewX(10deg);
		transform: skewX(10deg);
		background-color: red;
	}
	75% {
		-moz-transform: skewX(-10deg);
		-webkit-transform: skewX(-10deg);
		transform: skewX(-10deg);
		background-color: red;
	}
	100% {
		-moz-transform: skewX(0deg);
		-webkit-transform: skewX(0deg);
		transform: skewX(0deg);		
		background-color: red;
	}	
}

footer {
	color: rgb(239,197,235);
	margin-top: 10px;
}