body {
	max-width: 1280px;
	max-height: 1024px;
	width: 100%;
	height: 100%;
	text-align: center;
}

h1{

}

h2 {

}

/*performance gauge*/

#grid-perf {
	width: 770px;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
}

#stars, #moves, #timer {
	width: 33%;
}

img {
	width: 30px;
	height: 30px;
	float: left;
}

time {
	float: right;
	font-size: 1.5em;
}

/*grid*/

table {
	background-color: cyan;
	text-align: center;
	margin: 0 auto;
	padding: 15px;
	border-spacing: 15px;
	border-radius: 20px;
}

td {
	width: 170px;
	height: 170px;
	border: 1px solid black;
	border-radius: 10px;
	margin: 20px;
	background-color: blue;
	background-size: cover;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	transition: all 0.2s;
}

/*td:hover {
	background-color: yellow;
}*/

/*cards unturn*/

.one {
	background-image: url(../img/angry-big.png);
	transform: rotateY(-180deg);
	animation: unturn 0.5s;
	animation-fill-mode: forwards;
	-webkit-transition: transform 0.5s ease;
	-moz-transition: transform 0.5s ease;
	transition: transform 0.5s ease;
}

.two {
	background-image: url(../img/in-love-big.png);
	transform: rotateY(-180deg);
	animation: unturn 0.5s;
	animation-fill-mode: forwards;
	-webkit-transition: transform 0.5s ease;
	-moz-transition: transform 0.5s ease;
	transition: transform 0.5s ease;
}

.three {
	background-image: url(../img/sad-big.png);
	transform: rotateY(-180deg);
	animation: unturn 0.5s;
	animation-fill-mode: forwards;
	-webkit-transition: transform 0.5s ease;
	-moz-transition: transform 0.5s ease;
	transition: transform 0.5s ease;
}

.four {
	background-image: url(../img/smiley-face-big.png);
	transform: rotateY(-180deg);
	animation: unturn 0.5s;
	animation-fill-mode: forwards;
	-webkit-transition: transform 0.5s ease;
	-moz-transition: transform 0.5s ease;
	transition: transform 0.5s ease;
}

.five {
	background-image: url(../img/smiley-tongue-big.png);
	transform: rotateY(-180deg);
	animation: unturn 0.5s;
	animation-fill-mode: forwards;
	-webkit-transition: transform 0.5s ease;
	-moz-transition: transform 0.5s ease;
	transition: transform 0.5s ease;
}

.six {
	background-image: url(../img/straight-face-big.png);
	transform: rotateY(-180deg);
	animation: unturn 0.5s;
	animation-fill-mode: forwards;
	-webkit-transition: transform 0.5s ease;
	-moz-transition: transform 0.5s ease;
	transition: transform 0.5s ease;
}

.seven {
	background-image: url(../img/sun-glases-big.png);
	transform: rotateY(-180deg);
	animation: unturn 0.5s;
	animation-fill-mode: forwards;
	-webkit-transition: transform 0.5s ease;
	-moz-transition: transform 0.5s ease;
	transition: transform 0.5s ease;
}

.eight {
	background-image: url(../img/winking-big.png);
	transform: rotateY(-180deg);
	animation: unturn 0.5s;
	animation-fill-mode: forwards;
	-webkit-transition: transform 0.5s ease;
	-moz-transition: transform 0.5s ease;
	transition: transform 0.5s ease;
}

/*cards turned*/

.one-turn {
	
	background-image: url(../img/angry-big.png);
	transform: rotateY(0deg);
	animation: turn 0.5s;
	-webkit-transition: transform 0.5s ease;
	-moz-transition: transform 0.5s ease;
	transition: transform 0.5s ease;
}

.two-turn {
	background-image: url(../img/in-love-big.png);
	transform: rotateY(0deg);
	animation: turn 0.5s;
	-webkit-transition: transform 0.5s ease;
	-moz-transition: transform 0.5s ease;
	transition: transform 0.5s ease;
}

.three-turn {
	background-image: url(../img/sad-big.png);
	transform: rotateY(0deg);
	animation: turn 0.5s;
	-webkit-transition: transform 0.5s ease;
	-moz-transition: transform 0.5s ease;
	transition: transform 0.5s ease;
}

.four-turn {
	background-image: url(../img/smiley-face-big.png);
	transform: rotateY(0deg);
	animation: turn 0.5s;
	-webkit-transition: transform 0.5s ease;
	-moz-transition: transform 0.5s ease;
	transition: transform 0.5s ease;
}

.five-turn {
	background-image: url(../img/smiley-tongue-big.png);
	transform: rotateY(0deg);
	animation: turn 0.5s;
	-webkit-transition: transform 0.5s ease;
	-moz-transition: transform 0.5s ease;
	transition: transform 0.5s ease;
}

.six-turn {
	background-image: url(../img/straight-face-big.png);
	transform: rotateY(0deg);
	animation: turn 0.5s;
	-webkit-transition: transform 0.5s ease;
	-moz-transition: transform 0.5s ease;
	transition: transform 0.5s ease;
}

.seven-turn {
	background-image: url(../img/sun-glases-big.png);
	transform: rotateY(0deg);
	animation: turn 0.5s;
	-webkit-transition: transform 0.5s ease;
	-moz-transition: transform 0.5s ease;
	transition: transform 0.5s ease;
}

.eight-turn {
	background-image: url(../img/winking-big.png);
	transform: rotateY(0deg);
	animation: turn 0.5s;
	-webkit-transition: transform 0.5s ease;
	-moz-transition: transform 0.5s ease;
	transition: transform 0.5s ease;
}

/*card turning and unturning animations*/

@keyframes unturn {
	0% {
		background-image;
	}

	100% {
		background-image: none;
	}
}

@keyframes turn {
	0% {
		background-image: none;
	}

	100% {
		background-image;
	}
}

/*matched cards*/

.matched {
	animation: matched 0.3s 1;
	animation-delay: 0.7s;
	animation-fill-mode: forwards;
}

@keyframes matched {
	0% {
		background-color: blue;
	}

	50% {
		-moz-transform: skewX(30deg);
		-webkit-transform: skewX(30deg);
		transform: skewX(30deg);
		-moz-transform: scale(0.9,0.9);
		-webkit-transform: scale(0.9,0.9);
		transform: scale(0.9,0.9);
	}

	100% {
		-moz-transform: scale(1,1);
		-webkit-transform: scale(1,1);
		transform: scale(1,1);
		background-color: green;
	}
}

/*unmatched cards*/

.unmatched {
	animation: unmatch 0.4s 1;
}

@keyframes unmatch {
	0%{
		background-color: red;
		-moz-transform: skewX(10deg);
		-webkit-transform: skewX(10deg);
		transform: skewX(10deg);
	}
	25% {
		-moz-transform: skewX(-10deg);
		-webkit-transform: skewX(-10deg);
		transform: skewX(-10deg);
		background-color: red;
	}
	50% {
		-moz-transform: skewX(10deg);
		-webkit-transform: skewX(10deg);
		transform: skewX(10deg);
		background-color: red;
	}
	75% {
		-moz-transform: skewX(-10deg);
		-webkit-transform: skewX(-10deg);
		transform: skewX(-10deg);
		background-color: red;
	}
	100% {
		-moz-transform: skewX(0deg);
		-webkit-transform: skewX(0deg);
		transform: skewX(0deg);		
		background-color: red;
	}	
}