body {
	max-width: 1280px;
	max-height: 1024px;
	text-align: center;
}

h1{

}

h2 {

}

/*performance gauge*/

#grid-perf {
	width: 770px;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
}

#stars, #moves, #timer {
	width: 33%;
}

/*grid*/

table {
	background-color: cyan;
	text-align: center;
	margin: 0 auto;
	padding: 15px;
	border-spacing: 15px;
	border-radius: 20px;
}

td {
	width: 170px;
	height: 170px;
	border: 1px solid black;
	border-radius: 10px;
	margin: 20px;
	background-color: blue;
}

/*cards*/

.one {
	-webkit-transform: rotateY(-180deg);
	-moz-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
	animation: unturn 1s;
	background-image: none;
	transition: transform 1s ease;
}

.two {
	-webkit-transform: rotateY(-180deg);
	-moz-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
	transition: transform 1s ease;
	animation: unturn 1s;
}

.three {
	-webkit-transform: rotateY(-180deg);
	-moz-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
	transition: transform 1s ease;
	animation: unturn 1s;
}

.four {
	-webkit-transform: rotateY(-180deg);
	-moz-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
	transition: transform 1s ease;
	animation: unturn 1s;
}

.five {
	-webkit-transform: rotateY(-180deg);
	-moz-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
	transition: transform 1s ease;
	animation: unturn 1s;
}

.six {
	-webkit-transform: rotateY(-180deg);
	-moz-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
	transition: transform 1s ease;
	animation: unturn 1s;
}

.seven {
	-webkit-transform: rotateY(-180deg);
	-moz-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
	transition: transform 1s ease;
	animation: unturn 1s;
}

.eight {
	-webkit-transform: rotateY(-180deg);
	-moz-webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
	transition: transform 1s ease;
	animation: unturn 1s;
}

/*cards turned*/

.one-turn {
	-webkit-transform: rotateY(0deg);
	-moz-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
	background-image: url(../img/angry-big.png);
	transition: transform 1s ease;
	animation: turn 1s;
}

.two-turn {
	-webkit-transform: rotateY(0deg);
	-moz-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
	background-image: url(../img/in-love-big.png);
	transition: transform 1s ease;
	animation: turn 1s;
}

.three-turn {
	-webkit-transform: rotateY(0deg);
	-moz-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
	background-image: url(../img/sad-big.png);
	transition: transform 1s ease;
	animation: turn 1s;
}

.four-turn {
	-webkit-transform: rotateY(0deg);
	-moz-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
	background-image: url(../img/smiley-face-big.png);
	transition: transform 1s ease;
	animation: turn 1s;
}

.five-turn {
	-webkit-transform: rotateY(0deg);
	-moz-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
	background-image: url(../img/smiley-tongue-big.png);
	transition: transform 1s ease;
	animation: turn 1s;
}

.six-turn {
	-webkit-transform: rotateY(0deg);
	-moz-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
	background-image: url(../img/straight-face-big.png);
	transition: transform 1s ease;
	animation: turn 1s;
}

.seven-turn {
	-webkit-transform: rotateY(0deg);
	-moz-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
	background-image: url(../img/sun-glases-big.png);
	transition: transform 1s ease;
	animation: turn 1s;
}

.eight-turn {
	-webkit-transform: rotateY(0deg);
	-moz-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
	background-image: url(../img/winking-big.png);
	transition: transform 1s ease;
	animation: turn 1s;
}

/*card turning and unturning animations*/

@keyframes unturn {
	0% {
		background-image;
	}

	100% {
		background-image: none;
	}
}

@keyframes turn {
	0% {
		background-image: none;
	}

	100% {
		background-image;
	}
}